[Unit]
Description=JupyterHub Service
After=multi-user.target

[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub --config=/home/pi/.jupyter/jupyterhub_config.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
